@font-face {
    font-family: 'iconfont';  /* project id 308862 */
    src: url('//at.alicdn.com/t/font_z6nowkfdyxr5p14i.eot');
    src: url('//at.alicdn.com/t/font_z6nowkfdyxr5p14i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_z6nowkfdyxr5p14i.woff') format('woff'),
    url('//at.alicdn.com/t/font_z6nowkfdyxr5p14i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_z6nowkfdyxr5p14i.svg#iconfont') format('svg');
}
body{
    background: #f7f7f7;
}
header{
    width: 100%;
    height: 100%;
}
.header-box{
    width: 100%;
    height: 0.86rem;
    background: #fc313a;
}
.zuojian {
    width: 3%;
    height: 100%;
    font-size: 0.3rem;
    color: #fff;
    margin-left: 0.25rem;
    line-height: 0.86rem;
    float: left;
}
.title{
    width: 93%;
    height: 100%;
    font-size: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.86rem;
    float: left;
    font-weight: bold;
}
main{
    width: 100%;
    height: 100%;
    background: #fff;
}
.time{
    width: 100%;
    height: 0.74rem;
}
.name-img{
    width: 0.77rem;
    height: 0.74rem;
    float: left;
}
.tou{
    width: 100%;
    height: 100%;
}
.icon{
    font-family:'iconfont';
    line-height: 0.74rem;
    text-align: center;
    font-size: 0.3rem;
    color: #989898;
}
.time-right{
    width: 6.73rem;
    height: 100%;
    float: left;
    font-size: 0.24rem;
    line-height: 0.74rem;
}
.zi-left{
    float: left;
}
.zi-right{
    float: right;
    margin-right: 0.2rem;
}
.fen{
    width: 74%;
    height: 0.02rem;
    float: right;
    margin-right: 0.2rem;
}
.fen-left{
    width: 2%;
    height: 0.02rem;
    float: left;
    background: #b0b0b0;
}
.fen-middle{
    width: 96%;
    height: 0.02rem;
    background: #f5f5f5;
    float: left;
}
.fen-right{
    width: 2%;
    height: 0.02rem;
    float: right;
    background: #b0b0b0;
}
.kong{
    width: 100%;
    height: 0.5rem;
}