body{
	font-family: "苹方";
}
@font-face {
  font-family: 'iconfont';  /* project id 308792 */
  src: url('//at.alicdn.com/t/font_a6kqxlseds1nhfr.eot');
  src: url('//at.alicdn.com/t/font_a6kqxlseds1nhfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_a6kqxlseds1nhfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_a6kqxlseds1nhfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_a6kqxlseds1nhfr.svg#iconfont') format('svg');
}
header{
	width: 100%;
	height: 0.88rem;
	background: #fc313a;
	position: relative;
	padding: 0 0.25rem;
}
header>span{
	font-size: 0.4rem;
	color: white;
	text-align: center;
	line-height: 0.88rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.xk-header-left{
	float: left;
	font-size: 0.26rem;
	color: white;
	line-height: 0.88rem;
}
.xk-header-right{
	float: right;
	font-size: 0.36rem;
	color: white;
	line-height: 0.88rem;
	font-family: "iconfont"
}
.xk-content1{
	line-height: 0.74rem;
	height: 0.74rem;
	width: 100%;
	font-size: 0.22rem;
	text-align: center;
	border-bottom: 0.01rem solid #F7F7F7;
	position: relative
}
.content1-left{
	padding-left: 0.26rem;
	text-align: left;
}
.xk-content2{
	width: 100%;
	height: 3.6rem;
	padding-left: 0.26rem;
	position: relative;
}
.content2-1{
	line-height: 0.88rem;
	font-size: 0.22rem;
	font-weight: 600;
	left: 0;
}
.content2-2-left{
	width: 3.06rem;
	height: 2.44rem;
	float: left;
	background: url('../img/xk1.jpg') center center no-repeat;
	background-size: 100%;
}
.check:before{
	background: #fc313a;
}
.checked{
	position: absolute;
	left: -0.15rem;
	top: 0rem;
	bottom: 0;
	margin: auto;
	color: white;
}
.content2-2-right{
	width: 3.8rem;
	float: left;
	margin-left: 0.28rem;
	height: 2.44rem;
	color: #e5e5e5;
	line-height: 0.4rem;
	font-size: 0.22rem;
	position: relative;
}
.idcard{
	background:  url('../img/xk2.jpg') center center no-repeat;
	background-size: 100%;
}
.content2-2-right-bottom{
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.76rem;
	width: 1.78rem;
	height: 0.76rem;
	background: #fc313a;
	border-radius: 0.1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	color: white;
}
.xk-content3{
	line-height: 0.74rem;
	/* height: 1.48rem; */
	width: 100%;
	font-size: 0.22rem;
	text-align: center;
	border-top: 0.01rem solid #F7F7F7;
	padding-left: 0.26rem; 
}
.content3-top{
	line-height: 0.74rem;
	height:0.74rem;
	width: 100%;
	font-size: 0.22rem;
	border-bottom: 0.01rem solid #F7F7F7;
	position: relative;
}
.content3-bottom{
	line-height: 0.74rem;
	height:0.74rem;
	width: 100%;
	font-size: 0.22rem;
	position: relative;
}
.content3-left{
	text-align: left;
}
.content3-1{
	width: 1.34rem;
	height: 0.74rem;
	position: absolute;
	left: 3.2rem;
	top: 0;
}
.content3-2{
	width: 1.34rem;
	height: 0.74rem;
	position: absolute;
	right: 0.26rem;
	top: 0;
}
.content3-1:before{
	content: "";
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	left: -0.2rem;
	top: 0rem;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	border: 0.01rem solid #FC363F;
}
.content3-2:before{
	content: "";
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	left: -0.4rem;
	top: 0rem;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	border: 0.01rem solid #FC363F;
}

input.content3-right{
	width: 5.6rem;
	height: 0.74rem;
	text-align: right;
	position: absolute;
	right: 0.24rem;
	top: 0;
	border: 0;
	outline: none;
	font-size: 0.22rem;
}
.ccc{
	background: #f7f7f7;
	width: 100%;
	height: 0.3rem;
}
footer{
	width:100% ;
	height:1.3rem ;
	background: #f7f7f7;
	position: relative;
}
footer>input{
	width: 7rem;
	height: 0.7rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 0.1rem;
	border: none;
	background: linear-gradient(90deg,#fd343a,#fd7c33);
	color: white;
	font-size: 0.22rem;
}
	
	
	