html,
body {
  width: 100%;
  height: 100%;
}
* {
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.zj_box {
  width: 100%;
  height: 100%;
  background: #F7F7F7;
}
.zj_box .zj_head {
  width: 100%;
  height: 0.87975rem;
  background: #FC313A;
  line-height: 0.87975rem;
  overflow: hidden;
  font-size: 0.4rem;
  color: white;
  position: relative;
}
.zj_box .zj_head span {
  font-size: 0.3rem;
  position: absolute;
  left: 10px;
}
.zj_box .zj_head p {
  text-align: center;
  margin: 0 auto;
}
.zj_box .zj_head .xyb {
  position: absolute;
  right: 10px;
  top: 0;
  color: #FED7D8;
  font-size: 0.22rem;
}
.zj_box .zj_zhanghu {
  width: 100%;
  height: 0.9rem;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #d0d0d0;
  padding-top: 0.26rem;
  padding-bottom: 0.26rem;
  background: #FFFFFF;
}
.zj_box .zj_zhanghu .left {
  width: 1.58rem;
  font-size: 0.3rem;
  float: left;
  color: #303030;
}
.zj_box .zj_zhanghu .right {
  width: 5.5rem;
  float: left;
  font-size: 0.3rem;
  border: 0;
  outline-style: none;
}
.zj_box .yzm {
  border: 0;
}
.zj_box .shou {
  margin-top: 0.6rem;
}
.zj_box .ljzc {
  position: relative;
  width: 7rem;
  height: 0.7rem;
  margin: 0 auto;
  background: linear-gradient(to right, #FD313A, #FD8033);
  margin-top: 6.6rem;
  border-radius: 6px;
  font-size: 0.22rem;
  line-height: 0.7rem;
  text-align: center;
  border: 1px solid rgba(70, 67, 58, 0.07);
  color: white;
}
